{font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;}
html{font-size: 62.5%;}

/*selectotrd de etiquetas*/
 h1,h2,h3 {
color: 	blue; font-family: fantasy; 
}
section article	p{  color: grey }

nav{background-color: rgba(177, 188 ,270, 0.5);}
footer{background-color: rgba(green);}


nav ol{list-style: none;}

/*ben*/

.novedades_titulo--xxl{font-size: 4rem}
.novedades_titulo--xl{font-size:  3rem}
.novedades_titulo--md{font-size:  2rem}

.novedades_articulo {width: auto%;overflow: auto;height: auto;margin: 10px auto;padding: auto;
  }
.encabezado nav{background-color: violet; padding: auto}
.encabezado nav ol{display: inline-block;}
.encabezado nav ol li{display: inline-block;margin: 20px}
.encabezazo nav ol li a:hover{font font-weight: 800; color: black}
.encabezado_box--white{ text-align: center;background-color: white font-size 10px}
.encabezado_img--fluid{  width 100%;}
.pie{padding 30px; display: flex; flex-direction: column;justify-content: center; }
.pie_icon--sm{background-color: brown
}
.pie_titulo--md{font-size: 30px; background-color: pink}

.novedades_titulo--xxl{font-size: 4rem}
.novedades_titulo--xl{font-size:  3rem}
.novedades_titulo--md{font-size:  2rem}

.novedades_articulo {width: auto%;overflow: auto;height: auto;margin: 10px auto;padding: auto;
  }

.botonera{ background-color: blue ; position: sticky; top: 0;padding:  10px 30px
	display flex; justify-content: space-between;align-items: center; }
	.botonera ol { display: flex; }
	  .botonera ol li a{font-size: 1.8rem }
        .botonera ol li a:hover{ color: black; font-weight: 600; }

#productos h1,
   #productos h2{ text-transform: uppercase;font-size: 3rem; text-align: center;padding: 20px 0; background-color: green 
    margin 20px 0; }   
      #productos .galeria{ margin: 20px; display flex; justify-content: space-around; align-items: center;flex-wrap: wrap border-top-left-radius 5px }
         #productos .galeria figure{ display flex; text-align: center; width: 20% }  
           #productos .galeria figure img{ border-top-right-radius: 5px; border-top-left-radius: 5px; }
           #productos .galeria figure figcaption { font-size: 2,5rem color violet;padding: 10px; background-color: white }
           #productos .galeria p.price  { color violet;padding: 10px; background-color: white;padding-bottom: 10px }
   #productos .destacados article{background-color: yellow  display flex}
   #productos .destacados article p{ font-size: 2rem;line-height: 2.4rem;padding: 50px;color: white }
   #productos .destacados article h3{font-size: 2rem;line-height: 2.4rem;padding: 50px;color: white}

 #contenedor-grid{ width: 100vw; height: 100vh ;display: grid;grid-template-columns: 2fr;grid-template-rows: 2fr;
 grid-template-areas: "one two" "three four"}  
 #one{ grid-area: one; background-color: deeppink }
 #two{ grid-area: two ;background-color: red }
 #three{grid-area:three ;background-color: palevioletred }
 #four{grid-area:four ;background-color: blue }

 @media (min-width: 768px) {#contenedor-grid{grid-template-columns: repeat( 4, 1fr); grid-template-rows: auto;
   } }
*selector de clases*/
.textRed{ color: red; } 
.bgDark{background-color: rgba(195, 190 , 190, 0);}
.bgLight{background-color: rgba(238,188,247,0.5);}
.texCenter{text text-align: center;}
.textCenter{ text-align: center; }
.textRight{ text-align: right; }
.textLeft{ text-align: left; }


/*selector de id*/
#nosotros{ color: grey  display flex; align-items: center;}




