*{font-family: fantasy;
	;
  margin: 0;
  padding: 0;}
html{font-size: 62.5%;}

/*selectotrd de etiquetas*/
 h1,h2,h3 {
color: 	rgb( 170, 170 , 170);
}
h1{font-size: 4rem}

h2{font-size: 3rem}

h3{font-size: 2rem} 

article p{ color: blue;
	       font-size: 2rem;
	       font-weight: 300;
	       line-height: 2.4rem
}
nav{background-color: rgba(125 .127, 225, 0.5);  }
nav ol{list-style: none;}
nav ol li {font-size: 2rem}
nav ol li a{text-decoration: none;
            color: grey;

            font-family: fantasy}
            
/*selector de clases*/
.textRed{ color: red; } 
.bgDark{background-color: rgba(195, 190 , 190, 0);}
.bgLight{background-color: rgba(238,188,247,0.5);}
.texCenter{text text-align: center;}
.textCenter{ text-align: center; }
.textRight{ text-align: right; }
.textLeft{ text-align: left; }


/*selector de id*/
#nosotros{ color: yellow }


/*ben*/

.novedades_titulo--xxl{font-size: 4rem}
.novedades_titulo--xl{font-size:  3rem}
.novedades_titulo--md{font-size:  2rem}

.novedades_articulo {width: auto%;overflow: auto;height: auto;margin: 10px auto;padding: auto;
  }

.encabezado_box--white{ text-align: center;background-color: white }
.encabezado_img--fluid{}
.novedades_articulo{}
.pie_icon--sm{}
.pie_titulo--md{}


