.pie{padding: 20px; 
	display: flex; 
	flex-direction: column;
	justify-content: center; 
    }
.footertodo{ background-color: violet;
          top: 0;
          padding:  10px 30px; 
          display: flex; 
          flex-direction: row;
          align-items: row;
                  } 